@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-weight: 800;
  font-style: normal;
}

#telaInicial {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/fundo\ minecraft.webp);
  background-position: center;
  background-size: cover;
}

#telaInicial h1 {
  padding-bottom: 100px;
  font-size: 60px;
}

#telaInicial button {
  height: 40px;
  width: 400px;
  cursor: pointer;
  font-size: 22px;
  background-color: #707070;
  border: black 2px solid;
  color: white;
  font-weight: 50;
  text-shadow: 2px 2px 0px #3e3e3e;
}
#telaInicial button:hover {
  background-color: #7d87bf;
  color: #faf60cdf;
}

img {
  height: 350px;
}
