@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
  font-weight: 800;
  font-style: normal;
}

#telaInicial {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/fundo\ minecraft.webp);
  background-position: center;
  background-size: cover;
}

#telaInicial h1 {
  padding-bottom: 100px;
  font-size: 45px;
}

#telaInicial button{
    height: 40px;
    width: 300px;
    cursor: pointer;
    font-size: 22px;
}

